@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<subCategoria>

<ul class="list-group">
    @foreach (var subCategoria in Model)
    {
        <li class="list-group-item">
            <a href="#" class="subcategoria-link" data-id="@subCategoria.subCategoriaId">@subCategoria.nombre</a>
        </li>
    }
</ul>

<script>
    $(document).ready(function () {
        $(".subcategoria-link").click(function (e) {
            e.preventDefault();
            var subCategoriaId = $(this).data("id");

            // Cargar ítems dinámicamente
            $.get("/Menu/Items", { subCategoriaId: subCategoriaId }, function (data) {
                $("#itemsContainer").html(data);
            });
        });
    });
</script>
